3N6wwDVCmUE5t50X.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a message": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T19:23:17.706Z",
  "id": "3N6wwDVCmUE5t50X",
  "isArchived": false,
  "meta": {
    "templateId": "1534",
    "templateCredsSetupCompleted": true
  },
  "name": "Back Up Your n8n Workflows To Github",
  "nodes": [
    {
      "parameters": {},
      "id": "421824c2-59a2-441b-aacc-7dadf2ec153b",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        848,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2b1dd138-7872-42ea-9882-8750ef4cf227",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1264,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "WUvIsJBmgtEOEjs6",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "806db72c-c9f6-461d-be1a-1e6867a25382",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1456,
        432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "e5c433e4-bf56-4a0a-906c-7d74f6fe7287",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        848,
        528
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "9e2412f6-df25-4c12-8faf-0200558b537c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "00fdb977-4f3e-49f6-81c3-bc7f9520914f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "message": "=Starting Workflow Backup [{{ $execution.id }}]",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        1072,
        432
      ],
      "id": "c54f0eb6-edf4-4c67-9ad5-a75c985448e3",
      "name": "Create a message",
      "credentials": {
        "gotifyApi": {
          "id": "izDANgohXTdEWuKG",
          "name": "Gotify account"
        }
      }
    },
    {
      "parameters": {
        "message": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        1680,
        272
      ],
      "id": "1d7b71ef-8245-45b9-ae1d-28353f79ac9c",
      "name": "Create a message1",
      "credentials": {
        "gotifyApi": {
          "id": "izDANgohXTdEWuKG",
          "name": "Gotify account"
        }
      }
    },
    {
      "parameters": {
        "message": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gotify",
      "typeVersion": 1,
      "position": [
        1872,
        464
      ],
      "id": "b2bd1791-a756-4ed1-9d90-3df8c368d1ec",
      "name": "Create a message2",
      "credentials": {
        "gotifyApi": {
          "id": "izDANgohXTdEWuKG",
          "name": "Gotify account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "P3quzonCO8uqnOCj",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1",
          "cachedResultUrl": "/workflow/P3quzonCO8uqnOCj"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1680,
        448
      ],
      "id": "41133d5c-c3ee-4a86-8890-651bf1e6add2",
      "name": "Execute Workflow1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sunrisewestern",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-02T19:23:17.706Z",
      "createdAt": "2025-11-02T19:23:17.706Z",
      "role": "workflow:owner",
      "workflowId": "3N6wwDVCmUE5t50X",
      "projectId": "O3TKzz1LtWsv0pol"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-03T04:40:42.944Z",
  "versionId": "01409e60-539c-4731-916e-d7f25c189bbc"
}